@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');  /* h1 font-family: 'DM Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); /* font-family: 'Quicksand', sans-serif; */

body{
    background-color: #BF7950;
}


h1{
    font-family: 'DM Sans', sans-serif;
    font-size: 4rem;
    

}

h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    padding: 1vh 0vw;

}

p{
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    padding: 2vh 0vw;
   
}


button{
    cursor: pointer;
}
